{
  "openapi": "3.0.3",
  "info": {
    "title": "54Link POS Agent Banking API",
    "description": "Production API for 54Link POS Agent Banking Platform. Provides endpoints for agent management, transaction processing, fraud detection, KYC verification, settlement, and more.",
    "version": "2.0.0",
    "contact": { "name": "54Link Engineering", "email": "api@54link.com" },
    "license": { "name": "Proprietary", "url": "https://54link.com/license" }
  },
  "servers": [
    { "url": "https://api.54link.com", "description": "Production" },
    { "url": "https://staging-api.54link.com", "description": "Staging" },
    { "url": "http://localhost:3000", "description": "Local Development" }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Agent authentication and session management"
    },
    { "name": "Transactions", "description": "POS transaction processing" },
    { "name": "Agents", "description": "Agent management and onboarding" },
    { "name": "Fraud", "description": "Fraud detection and alert management" },
    { "name": "KYC", "description": "Know Your Customer verification" },
    {
      "name": "Settlement",
      "description": "Daily settlement and reconciliation"
    },
    { "name": "Float", "description": "Float management and top-up requests" },
    { "name": "Loyalty", "description": "Loyalty program and rewards" },
    { "name": "Notifications", "description": "Push notifications and alerts" },
    { "name": "Reports", "description": "Weekly reports and analytics" },
    { "name": "System", "description": "System health and configuration" }
  ],
  "paths": {
    "/api/trpc/agent.login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Agent PIN Login",
        "description": "Authenticate an agent using their agent code and 4-6 digit PIN. Returns a JWT session cookie.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agentCode", "pin"],
                "properties": {
                  "agentCode": { "type": "string", "example": "AGT001" },
                  "pin": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 6,
                    "example": "1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "agent": { "$ref": "#/components/schemas/Agent" }
                  }
                }
              }
            }
          },
          "401": { "description": "Invalid credentials" }
        }
      }
    },
    "/api/trpc/transactions.create": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Process Transaction",
        "description": "Process a POS transaction (cash-in, cash-out, transfer, bill payment, airtime). Validates float balance, KYC limits, and generates receipt.",
        "security": [{ "agentSession": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "amount", "customerPhone"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "cash_in",
                      "cash_out",
                      "transfer",
                      "bill_payment",
                      "airtime",
                      "card_payment",
                      "qr_payment",
                      "nfc_payment"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "minimum": 100,
                    "description": "Amount in NGN (minimum ₦100)"
                  },
                  "customerPhone": { "type": "string" },
                  "customerName": { "type": "string" },
                  "billerCode": { "type": "string" },
                  "idempotencyKey": { "type": "string", "format": "uuid" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction processed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransactionResult" }
              }
            }
          },
          "400": { "description": "Insufficient float or KYC limit exceeded" },
          "401": { "description": "Not authenticated" }
        }
      }
    },
    "/api/trpc/transactions.list": {
      "get": {
        "tags": ["Transactions"],
        "summary": "List Transactions",
        "description": "List agent transactions with pagination, filtering by type, status, and date range.",
        "security": [{ "agentSession": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20 }
          },
          { "name": "type", "in": "query", "schema": { "type": "string" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Paginated transaction list" } }
      }
    },
    "/api/trpc/fraud.list": {
      "get": {
        "tags": ["Fraud"],
        "summary": "List Fraud Alerts",
        "description": "List fraud alerts with filtering by severity, status, and date range.",
        "security": [{ "agentSession": [] }],
        "responses": { "200": { "description": "Fraud alert list" } }
      }
    },
    "/api/trpc/fraud.updateStatus": {
      "post": {
        "tags": ["Fraud"],
        "summary": "Update Fraud Alert Status",
        "description": "Update the status of a fraud alert (investigating, resolved, dismissed, escalated).",
        "security": [{ "agentSession": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "status"],
                "properties": {
                  "id": { "type": "string" },
                  "status": {
                    "type": "string",
                    "enum": [
                      "investigating",
                      "resolved",
                      "dismissed",
                      "escalated"
                    ]
                  },
                  "notes": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Alert updated" } }
      }
    },
    "/api/trpc/kyc.submit": {
      "post": {
        "tags": ["KYC"],
        "summary": "Submit KYC Document",
        "description": "Submit a KYC verification document (NIN, BVN, utility bill, etc.).",
        "security": [{ "agentSession": [] }],
        "responses": {
          "200": { "description": "Document submitted for verification" }
        }
      }
    },
    "/api/trpc/settlement.runNow": {
      "post": {
        "tags": ["Settlement"],
        "summary": "Trigger Manual Settlement",
        "description": "Manually trigger the daily settlement process (admin only).",
        "security": [{ "agentSession": [] }],
        "responses": { "200": { "description": "Settlement completed" } }
      }
    },
    "/api/trpc/floatTopUp.request": {
      "post": {
        "tags": ["Float"],
        "summary": "Request Float Top-Up",
        "description": "Submit a float top-up request for admin approval.",
        "security": [{ "agentSession": [] }],
        "responses": { "200": { "description": "Top-up request submitted" } }
      }
    },
    "/api/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health Check",
        "description": "Returns system health status including database, Redis, and service connectivity.",
        "responses": {
          "200": {
            "description": "System healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["healthy", "degraded", "unhealthy"]
                    },
                    "uptime": { "type": "number" },
                    "version": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stripe/webhook": {
      "post": {
        "tags": ["System"],
        "summary": "Stripe Webhook",
        "description": "Handles Stripe payment events (checkout.session.completed, invoice.paid, etc.).",
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": { "200": { "description": "Webhook processed" } }
      }
    }
  },
  "components": {
    "schemas": {
      "Agent": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "agentCode": { "type": "string", "example": "AGT001" },
          "businessName": { "type": "string" },
          "phone": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "pending", "deactivated"]
          },
          "kycTier": {
            "type": "string",
            "enum": ["basic", "standard", "enhanced"]
          },
          "floatBalance": { "type": "number" },
          "role": { "type": "string", "enum": ["agent", "admin", "supervisor"] }
        }
      },
      "TransactionResult": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "transaction": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "reference": { "type": "string" },
              "type": { "type": "string" },
              "amount": { "type": "number" },
              "fee": { "type": "number" },
              "commission": { "type": "number" },
              "status": { "type": "string" }
            }
          },
          "receipt": {
            "type": "object",
            "properties": {
              "receiptNo": { "type": "string" },
              "timestamp": { "type": "string", "format": "date-time" }
            }
          },
          "newFloatBalance": { "type": "number" }
        }
      },
      "FraudAlert": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "severity": {
            "type": "string",
            "enum": ["critical", "high", "medium", "low"]
          },
          "fraudScore": { "type": "integer", "minimum": 0, "maximum": 100 },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "investigating",
              "resolved",
              "dismissed",
              "escalated"
            ]
          },
          "reason": { "type": "string" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "agentSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "agent_session",
        "description": "JWT session cookie set after agent login"
      },
      "oauthSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "session",
        "description": "OAuth session cookie for admin/supervisor SSO"
      }
    }
  }
}
