openapi: 3.0.3
info:
  title: 54Link POS Shell — Billing Engine API
  description: |
    Comprehensive billing API for the 54Link Agency Banking Platform.
    Covers ledger management, invoice lifecycle, revenue reconciliation,
    tenant onboarding, RBAC, audit trails, and production billing operations.
    
    ## Authentication
    All endpoints require a valid JWT token in the Authorization header.
    Tokens are issued via Manus OAuth at `/api/oauth/callback`.
    
    ## Rate Limiting
    - Standard endpoints: 100 req/min per tenant
    - Analytics endpoints: 20 req/min per tenant
    - Settlement endpoints: 30 req/min per tenant
    
    ## Error Codes
    - 400: Invalid input parameters
    - 401: Missing or expired authentication
    - 403: Insufficient RBAC permissions
    - 404: Resource not found
    - 429: Rate limit exceeded
    - 500: Internal server error
  version: 1.0.0
  contact:
    name: 54Link Engineering
    email: engineering@54link.io
  license:
    name: Proprietary
    url: https://54link.io/license

servers:
  - url: https://api.54link.io/v1
    description: Production API
  - url: https://staging-api.54link.io/v1
    description: Staging API
  - url: http://localhost:3000/api/trpc
    description: Local development (tRPC)

tags:
  - name: Billing Ledger
    description: Double-entry ledger operations via TigerBeetle
  - name: Invoicing
    description: Invoice lifecycle management with Stripe integration
  - name: Revenue Reconciliation
    description: Revenue matching, settlement, and discrepancy detection
  - name: Tenant Onboarding
    description: Multi-tenant billing provisioning via Temporal workflows
  - name: Billing RBAC
    description: Permission-based access control via Permify
  - name: Audit Trail
    description: Immutable audit logging with Kafka event publishing
  - name: Production Billing
    description: Dunning, forecasting, tax, disputes, credits, FX, compliance
  - name: Live Dashboard
    description: Real-time billing metrics and analytics

paths:
  /billingLedger.getEntries:
    post:
      tags: [Billing Ledger]
      summary: Get ledger entries
      description: Retrieve paginated double-entry ledger entries with optional filters
      operationId: billingLedger.getEntries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                  description: Tenant identifier
                accountType:
                  type: string
                  enum: [revenue, expense, asset, liability, equity]
                startDate:
                  type: string
                  format: date-time
                endDate:
                  type: string
                  format: date-time
                page:
                  type: integer
                  default: 1
                limit:
                  type: integer
                  default: 50
      responses:
        '200':
          description: Paginated ledger entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      $ref: '#/components/schemas/LedgerEntry'
                  total:
                    type: integer
                  page:
                    type: integer

  /billingLedger.postEntry:
    post:
      tags: [Billing Ledger]
      summary: Post a ledger entry
      description: Create a double-entry ledger posting (debit + credit)
      operationId: billingLedger.postEntry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenantId, debitAccount, creditAccount, amount, currency, description]
              properties:
                tenantId:
                  type: string
                debitAccount:
                  type: string
                creditAccount:
                  type: string
                amount:
                  type: number
                  format: double
                currency:
                  type: string
                  default: NGN
                description:
                  type: string
                metadata:
                  type: object
      responses:
        '200':
          description: Ledger entry created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LedgerEntry'

  /billingLedger.getClientBillingConfig:
    post:
      tags: [Billing Ledger]
      summary: Get client billing configuration
      description: Retrieve billing configuration for a specific client within a tenant
      operationId: billingLedger.getClientBillingConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenantId, clientId]
              properties:
                tenantId:
                  type: string
                clientId:
                  type: string
      responses:
        '200':
          description: Client billing configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingConfig'

  /billingInvoice.listInvoices:
    post:
      tags: [Invoicing]
      summary: List invoices
      description: Retrieve paginated invoices with status and date filters
      operationId: billingInvoice.listInvoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                status:
                  type: string
                  enum: [draft, pending, paid, overdue, cancelled, void]
                page:
                  type: integer
                  default: 1
                limit:
                  type: integer
                  default: 20
      responses:
        '200':
          description: Paginated invoice list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  total:
                    type: integer

  /billingInvoice.createStripeInvoice:
    post:
      tags: [Invoicing]
      summary: Create Stripe invoice
      description: Generate a Stripe invoice for a tenant with line items
      operationId: billingInvoice.createStripeInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenantId, lineItems]
              properties:
                tenantId:
                  type: string
                lineItems:
                  type: array
                  items:
                    type: object
                    properties:
                      description:
                        type: string
                      amount:
                        type: number
                      quantity:
                        type: integer
                dueDate:
                  type: string
                  format: date
                currency:
                  type: string
                  default: usd
      responses:
        '200':
          description: Stripe invoice created
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoiceId:
                    type: string
                  stripeInvoiceId:
                    type: string
                  hostedUrl:
                    type: string
                    format: uri

  /billingInvoice.collectPayment:
    post:
      tags: [Invoicing]
      summary: Collect invoice payment
      description: Trigger payment collection for an outstanding invoice via Stripe
      operationId: billingInvoice.collectPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invoiceId]
              properties:
                invoiceId:
                  type: integer
      responses:
        '200':
          description: Payment collection initiated

  /revenueReconciliation.runReconciliation:
    post:
      tags: [Revenue Reconciliation]
      summary: Run revenue reconciliation
      description: Execute reconciliation between ledger entries and payment gateway records
      operationId: revenueReconciliation.runReconciliation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenantId, startDate, endDate]
              properties:
                tenantId:
                  type: string
                startDate:
                  type: string
                  format: date
                endDate:
                  type: string
                  format: date
      responses:
        '200':
          description: Reconciliation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReconciliationResult'

  /tenantBillingOnboarding.provisionTenant:
    post:
      tags: [Tenant Onboarding]
      summary: Provision tenant billing
      description: |
        Initiate a 7-step Temporal workflow to provision billing for a new tenant.
        Steps: validate → create accounts → configure rates → setup Stripe → 
        provision Kafka topics → initialize ledger → activate billing.
      operationId: tenantBillingOnboarding.provisionTenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenantName, billingPlan, contactEmail]
              properties:
                tenantName:
                  type: string
                billingPlan:
                  type: string
                  enum: [starter, growth, enterprise, custom]
                contactEmail:
                  type: string
                  format: email
                country:
                  type: string
                  default: NG
                currency:
                  type: string
                  default: NGN
      responses:
        '200':
          description: Provisioning workflow started
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflowId:
                    type: string
                  tenantId:
                    type: string
                  status:
                    type: string

  /billingRbac.checkPermission:
    post:
      tags: [Billing RBAC]
      summary: Check billing permission
      description: Verify if a user has a specific billing permission via Permify
      operationId: billingRbac.checkPermission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, permission]
              properties:
                userId:
                  type: integer
                permission:
                  type: string
                  enum:
                    - billing:view
                    - billing:create_invoice
                    - billing:approve_refund
                    - billing:manage_rates
                    - billing:run_reconciliation
                    - billing:view_audit
                    - billing:manage_tenants
                    - billing:admin
      responses:
        '200':
          description: Permission check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowed:
                    type: boolean
                  role:
                    type: string

  /billingAudit.getAuditLog:
    post:
      tags: [Audit Trail]
      summary: Get billing audit log
      description: Retrieve immutable audit trail entries with Kafka event publishing
      operationId: billingAudit.getAuditLog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                action:
                  type: string
                userId:
                  type: integer
                startDate:
                  type: string
                  format: date-time
                endDate:
                  type: string
                  format: date-time
                page:
                  type: integer
                  default: 1
                limit:
                  type: integer
                  default: 50
      responses:
        '200':
          description: Paginated audit log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEntry'
                  total:
                    type: integer

  /billingProduction.getScheduledInvoices:
    post:
      tags: [Production Billing]
      summary: Get scheduled invoices
      description: List invoices scheduled for automatic generation
      operationId: billingProduction.getScheduledInvoices
      responses:
        '200':
          description: Scheduled invoice list

  /billingProduction.getDunningQueue:
    post:
      tags: [Production Billing]
      summary: Get dunning queue
      description: Retrieve overdue invoices in the dunning workflow pipeline
      operationId: billingProduction.getDunningQueue
      responses:
        '200':
          description: Dunning queue entries

  /billingProduction.getRevenueForecast:
    post:
      tags: [Production Billing]
      summary: Get revenue forecast
      description: AI-powered revenue forecasting based on historical billing data
      operationId: billingProduction.getRevenueForecast
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                months:
                  type: integer
                  default: 6
      responses:
        '200':
          description: Revenue forecast data

  /billingProduction.getTaxSummary:
    post:
      tags: [Production Billing]
      summary: Get tax summary
      description: Tax calculation summary across jurisdictions
      operationId: billingProduction.getTaxSummary
      responses:
        '200':
          description: Tax summary by jurisdiction

  /liveBillingDashboard.getMetrics:
    post:
      tags: [Live Dashboard]
      summary: Get live billing metrics
      description: Real-time billing metrics including MRR, churn, LTV, and transaction volumes
      operationId: liveBillingDashboard.getMetrics
      responses:
        '200':
          description: Live billing metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMetrics'

  /api/stripe/webhook:
    post:
      tags: [Invoicing]
      summary: Stripe webhook handler
      description: |
        Handles Stripe webhook events for invoice lifecycle:
        - invoice.paid: Mark invoice as paid, update ledger
        - invoice.payment_failed: Trigger dunning workflow
        - invoice.overdue: Escalate to collections
      operationId: stripeWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed
        '400':
          description: Invalid webhook signature

  /api/scheduled/monthly-invoices:
    post:
      tags: [Production Billing]
      summary: Monthly invoice cron
      description: |
        Automated monthly invoice generation triggered by Manus Heartbeat.
        Generates invoices for all active tenants based on their billing plans.
      operationId: monthlyInvoiceCron
      responses:
        '200':
          description: Monthly invoices generated

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: session

  schemas:
    LedgerEntry:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: string
        debitAccount:
          type: string
        creditAccount:
          type: string
        amount:
          type: number
          format: double
        currency:
          type: string
        description:
          type: string
        referenceId:
          type: string
        entryType:
          type: string
          enum: [debit, credit, journal]
        createdAt:
          type: string
          format: date-time

    Invoice:
      type: object
      properties:
        id:
          type: integer
        tenantId:
          type: string
        invoiceNumber:
          type: string
        status:
          type: string
          enum: [draft, pending, paid, overdue, cancelled, void]
        totalAmount:
          type: number
          format: double
        currency:
          type: string
        dueDate:
          type: string
          format: date
        stripeInvoiceId:
          type: string
          nullable: true
        lineItems:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              amount:
                type: number
              quantity:
                type: integer
        createdAt:
          type: string
          format: date-time

    BillingConfig:
      type: object
      properties:
        tenantId:
          type: string
        clientId:
          type: string
        billingPlan:
          type: string
        rateCard:
          type: object
        currency:
          type: string
        paymentTermsDays:
          type: integer
        autoInvoice:
          type: boolean

    ReconciliationResult:
      type: object
      properties:
        matched:
          type: integer
        unmatched:
          type: integer
        discrepancies:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              amount:
                type: number
              description:
                type: string
        totalReconciled:
          type: number
          format: double

    AuditEntry:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        action:
          type: string
        entityType:
          type: string
        entityId:
          type: string
        changes:
          type: object
        ipAddress:
          type: string
        userAgent:
          type: string
        createdAt:
          type: string
          format: date-time

    BillingMetrics:
      type: object
      properties:
        mrr:
          type: number
          description: Monthly Recurring Revenue
        arr:
          type: number
          description: Annual Recurring Revenue
        churnRate:
          type: number
          description: Monthly churn rate percentage
        ltv:
          type: number
          description: Average customer lifetime value
        totalRevenue:
          type: number
        activeSubscriptions:
          type: integer
        overdueInvoices:
          type: integer
        collectionRate:
          type: number
          description: Payment collection success rate

security:
  - bearerAuth: []
  - cookieAuth: []
